<!DOCTYPE html>
<html ng-app="dtfApp">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body ng-controller="MainController" style="margin:20px">
  
    <div class="row">
      <div id="header">
        <button id="refresh-tree-btn" ng-click="refresh()">Refresh Organization Tree</button>
        <label id="last-refresh-date"></label>
      </div>
    </div>

    <div class="row">
      <div id="container">

        <div id="left-panel" class="col-md-2 .col-sm-4 col-xs-12">
          <abntree tree-data="menus" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="2"></abntree>
        </div>
        
        <div id="middle-panel" class="col-md-8 .col-sm-4 col-xs-12">
          <div ng-view=""></div>
        </div>

        <div id="right-panel" class="col-md-1 .col-sm-4 col-xs-12">
          <label>Select/Unselect</label>
          <button>Import Organization</button>
          <button>Import Organization & Users</button>
          <button>Obsolete Organization</button>
          <button>Obsolete Users</button>
        </div>

      </div>
    </div>

    <div class="row">
      <div id="footer">
        <button id="save-btn" ng-click="save()">Save</button>
        <button ng-click="saveAndRun()">Save & Schedule run</button>
        <button id="close" ng-click="close()">Close</button>
        <p id="last-saved"></p>
      </div>
    </div>
  
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-animate.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-route.min.js"></script>
  
  <script src="app/directives/abntree.js"></script>
  <script src="app/directives/checkboxtree.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/main.js"></script>
</html>